@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body {
  background-color: #eaeadf;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23726017' fill-opacity='0.26'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  letter-spacing: 5px;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  align-self: center;
  font-size: 28px;
  /* letter-spacing: 5px; */
  color: rgb(80, 62, 5);
  z-index: 100;
}

/* Header */

.header {
  top: 0px;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  background-color: #D4CFBC;
  /* align-items: center; */
}

.header img {
  /* position: absolute; */
  /* margin-top: 11vh; */
  width: 100px;  
  height: auto;
  align-self: center;
  background-color: #d4cfbc;
  padding: 2vw;
  border-radius: 40%;
}

.head-img {
  position: fixed;
  align-self: center;
  /* top: 0px; */
  width: 60vw;
  height: 20vh;
}

/* loader */

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* unsplash images */
.img-container {
  margin: 10px 25%;
  cursor:pointer;
}

.img-container img {
  width: 100%;
  margin-top: 5px;
  border: 3px #D4CFBC solid;
}

/* mediaquerries */

@media only screen and (max-width: 700px) {
  .img-container {
    margin: 10px;
  }

  h1 {
    font-size: 14px;

  }

  .head-img {
   margin-top: -30px;
  }

  .header img {
    width: 60px;
  }
}